body {
    font-family: 'Roboto', sans-serif;
}

.login-wrapper {
    height: 100vh;
    background-color: #404EED;

    display: flex;
    align-items: center;
    justify-content: center;
}


.login-box {
    width: 300px;
    height: 350px;
    background-color: #8cd7fa6b;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    padding-bottom: 36px;
    color: #F2F2F2;
    font-weight: bold;

}

.login-icon, .login-image {
    height: 100px;
    width: 100px;
    background-color: #f2f2f2;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 16px;
}


.login-logo {
    width: 97%;
    padding-left: 15%;
    padding-bottom: 10px;

}

.login-bottom {
    color: white;
    font-weight: bold;
}

.form-login {
    position: relative;
    width: 220px;
    height: 40px;
}

.form-login input {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    padding: 1.2rem;
}

.form-login small {
    visibility: hidden;
    position: absolute;
    right: 10px;
    top: -0.8rem;
    font-size: 0.8rem;
    color: red;
}

.form-login.success input {
    border: 2px solid green;
}

.form-login.success .icons-login.check-circle {
    visibility: visible;
    color: green;
    font-size: 20px;
}

.form-login.error .icons-login.exclamation-circle {
    visibility: visible;
    color: red;
    font-size: 20px;
}

.form-login.error small {
    visibility: visible;
}


.form-login.error input {
    border: 2px solid red;
}

.login-input:hover {
    filter: brightness(95%);
}

.login-input:focus {
    filter: brightness(95%);
}

.login-input:focus~.login-label,
.login-input:not(:placeholder-shown).login-input:not(:focus)~.login-label {
    top: -1.0rem;
    font-size: 0.8rem;
    left: 0.8rem;
    background-color: none;
    color: white;
    font-weight: bold;
}

.login-label {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    color: #818181;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.icons-login {
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
}

header {
    height: 89px;
    background: #404EED;
}


.logo-wrapper {
    padding-left: 80px;
    padding-top: 16px;
}

.request-wrapper {
    display: flex;
    width: 100%;
}

.questions-box {
    padding: 0 10%;
    padding-top: 5%;
    width: 100%;
}

.slogan-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #404EED;
}


.box {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.card-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    margin-top: 12px;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #F2F2F2;
    border-radius: 50%;
}

.model-card img {
    width: 70%;
}


button {
    all: unset;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    background: #C4C4C4;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

button:hover {
    filter: brightness(95%);
}

.login-input:focus {
    filter: brightness(95%);
}

.neck-wrapper p, .material-wrapper {
    margin-top: 8%;
}

section {
    background-color: #f2f2f2;
    width: 100%;

}

.last-orders-box {
    padding-top: 50px;
    padding-left: 130px;

}

.card-wrapper {
    background: #FFFFFF;
    border-radius: 10px;
    width: 190px;
    margin-right: 16px;
    margin-top: 16px;
    padding: 16px 5px;
    height: 250px;
}

.last-orders-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    overflow: hidden;
    overflow-x: auto;
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    word-break: break-all;
}

.creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 900;
}

.card-size span {
    margin-top: 5px;
}

.orders-img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.selected {
    border: 2px solid blue;
    border-radius: 50%;
}

.background-blue {
    background-color: blue;
    color: white;
    font-weight: bold;
}

.form {
    display: flex;
}

.image-form p {
    margin-top: 50px;
    margin-bottom: 20px;
}

.image-wrapper p {
    margin-top: 15%;
    margin-bottom: 2%;
}

.form {
    position: relative;
    width: 100%;
    height: 3rem;
}

.form-input {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #F2F2F2;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    padding-left: 15px;
}

.form-input:hover {
    background-color: #ecebeb;
}

.form-input:focus {
    background-color: #F2F2F2;
}

.form-input:focus~.form-label,
.form-input:not(:placeholder-shown).form-input:not(:focus)~.form-label {
    top: -0.5rem;
    font-size: 0.8rem;
    left: 0.8rem;
    background-color: white;
    color: black;
}

.form-label {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    color: #818181;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.icons {
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
}

.form small {
    visibility: hidden;
    position: absolute;
    right: 40px;
    top: -0.8rem;
    font-size: 0.8rem;
    color: red;
}

.form.success input {
    border: 2px solid green;
}

.form.success .icons.check-circle {
    visibility: visible;
    color: green;
    font-size: 22px;
}

.form.error .icons.exclamation-circle {
    visibility: visible;
    color: red;
    font-size: 22px;
}

.form.error small {
    visibility: visible;
}


.form.error input {
    border: 2px solid red;
}

.last-order {
    display: flex;
    padding: 30px;
}

.confirm-request-wrapper {
    height: 100vh;
    background-color: rgba(249, 249, 250, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.confirm-box {
    overflow: hidden;
    background-color: rgba(96, 135, 242, 1);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-order-logo {
    border-radius: 10px;
    padding: 1% 100%;
}

.last-order img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    height: 180px;
    width: 180px;
    background-color: white;
    border-radius: 10px;
}

.confirm-box p {
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 300px;
    flex-wrap: wrap;
    word-wrap: break-word;
    min-height: fit-content;
    min-height: 40px;
}

.confirm-box span {
    font-weight: normal;
}

.buttons-confirm {
    display: flex;
    color: white;
    font-weight: bold;
}

.styles-requests-button {
    width: 100%;
    padding: 0 20px;
    margin: 20px 10px;
}

.cancel-request {
    background-color: rgb(218, 64, 58);
}

.confirm-request {
    background-color: rgb(54, 151, 54);
}

.hide {
    display: none;
}